.box {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 24px;
    background-color: maroon;
    color: silver;
    border-radius: 10px;
}